.bg-dark {
    background-color: #D04848!important;
}

a, a:hover {
    color: #D04848;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #FFF;
}

.btn-outline-secondary {
    color: #D04848;
    border-color: #D04848;
}

.btn-outline-secondary:hover {
    background-color: #D04848!important;
    border-color: #D04848!important;
}

#searchBtn {
    border-color: #FFF!important;
    color: #FFF;
}

.accordion-button:not(.collapsed) {
    color: #D04848 !important;
    background-color: #FFCCCB !important;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}

.no_decoration {
    text-decoration: none;
}

.card-body {
    white-space: nowrap;
}

.card-text {
    overflow: hidden;
    text-overflow: ellipsis; 
}
  