<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#000000">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('app.css') }}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5VGHV3E9E2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5VGHV3E9E2');
    </script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{{ path('home') }}">Library</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% set nav_links = [
                'books',
                'films',
                'gameplay',
                'games',
                'music',
                'profiles',
                'recordings',
                'series',
                'sports',
                'yearly',
              ] %}
              {% for nav_link in nav_links %}
                <li class="nav-item">
                  <a id="nav-{{ nav_link }}" class="nav-link" href="{{ path(nav_link) }}">{{ nav_link|capitalize }}</a>
                </li>
              {% endfor %}
            </ul>
            <form class="d-flex" role="search" action="/search" method="GET">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" id="search" name="search">
              <button class="btn btn-outline-secondary" type="submit" id="searchBtn">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                  <h1 class="fw-light">
                    {% block title %}{% endblock %}
                  </h1>
                  <p class="lead text-muted">
                    {% block subtitle %}{% endblock %}
                  </p>
                </div>
            </div>
        </section>
        <div class="album py-5 bg-light">
          <div class="container">
            {% block body %}{% endblock %}
          </div>
        </div>
    </main>

    <footer class="text-muted py-5">
      <div class="container">
        <p class="float-end mb-1">
          <a href="#">Back to top</a>
        </p>
        <p class="mb-1">&copy; {{ "now"|date("Y") }}, Anthony Dessalles' Library</p>
      </div>
    </footer>

    <script src="{{ asset('bootstrap.bundle.min.js') }}"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>