<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
    {% for current in data %}
        <div class="col">
            <div class="card shadow-sm">
                {% set page_link = path(current_page_name ~ '_page', {'id': current.id}) %}
                {% set img_link = ("films" == current_page_name or "profiles" == current_page_name or "music" == current_page_name) ? current.id : current.slug %}
                
                <a href="{{ page_link }}">
                    <img src="{{ s3 }}{{ current_page_name }}/{{ img_link }}.jpg" width="100%" onerror="this.onerror=null;this.src='{{ asset('library.png')}}';">
                </>

                <div class="card-body">
                    <p class="card-text">
                        <a href="{{ page_link }}" class="no_decoration">
                            {% if current.name is defined %}
                                {{ current.name }}
                            {% elseif current.title is defined %}
                                {{ current.title }}
                            {% else %}
                                {{ current.slug|upper|replace({'_': ' '}) }}
                            {% endif %}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>