{% extends 'base.html.twig' %}

{% block title %}Gameplay{% endblock %}
{% block subtitle %}{{ data|length }} Playlists{% endblock %}

{% block body %}
    {% if data is defined %}
        <div class="accordion accordion-flush" id="accordionFlushExample">
            {% for playlist in data %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{ playlist.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ playlist.id }}" aria-expanded="false" aria-controls="flush-collapse{{ playlist.id }}">
                            {{ playlist.title }}
                        </button>
                    </h2>
                    <div id="flush-collapse{{ playlist.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ playlist.id }}" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" id={{ playlist.externalId }}>
                            {% if playlist.publishedAt is defined %}
                                <p class="card-text">{{ playlist.publishedAt|date("d/m/Y") }}</p>
                            {% endif %}

                            {% if playlist.productUrl is defined %}
                                <p class="card-text">
                                    <a href="{{ playlist.productUrl }}" target="_blank" title="{{ playlist.productUrl }}">{{ playlist.productUrl }}</a>
                                </p>
                            {% endif %}

                            {% if playlist.externalId is defined %}
                                <p class="card-text">
                                    <a href="https://www.youtube.com/playlist?list={{ playlist.externalId }}" target="_blank">Watch on YouTube</a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}


{% block javascripts %}
    <script>
        var current_page_name = '{{ current_page_name }}';
        const myElement = document.getElementById("nav-" + current_page_name);
        myElement.classList.add("active");
    </script>
{% endblock %}