{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block body %}
    {% for name,types in data %}
        <h2>{{ types|length }} {{ name|capitalize }}</h2>
        {% include 'cards.html.twig' with {
            'data': types,
            'current_page_name': 'types',
        } %}
        <br>
    {% endfor %}
{% endblock %}