{% extends 'base.html.twig' %}

{% block title %}{{ current_page_name|capitalize }}{% endblock %}
{% block subtitle %}{{ data|length }}{% endblock %}

{% block body %}
    {% include 'cards.html.twig' with {
        'data': data,
        'current_page_name': current_page_name
    } %}
{% endblock %}

{% block javascripts %}
    <script>
        var current_page_name = '{{ current_page_name }}';
        const myElement = document.getElementById("nav-" + current_page_name);
        myElement.classList.add("active");
    </script>
{% endblock %}