{% extends 'base.html.twig' %}

{% block title %}
    {% if data.name is defined %}
        {{ data.name }}
    {% elseif data.title is defined %}
        {{ data.title }}
    {% elseif data.slug is defined %}
        {{ data.slug|upper|replace({'_': ' '}) }}
    {% endif %}
{% endblock %}
{% block subtitle %}
    {% set img_link = ("films" == current_page_name or "profiles" == current_page_name or "music" == current_page_name) ? data.id : data.slug %}
    <img src="{{ s3 }}{{ current_page_name }}/{{ img_link }}.jpg" width="80%" onerror="this.onerror=null;this.src='{{ asset('library.png')}}';">
    {% if data.year is defined and data.year > 0 %}
        <p class="lead text-muted">{{ data.year }}</p>
    {% endif %}

    {% if data.synopsis is defined %}
        <p class="lead text-muted">{{ data.synopsis }}</p>
    {% endif %}

    {% if data.date is defined %}
        <p class="lead text-muted">{{ data.date|date("d/m/Y") }}</p>
    {% endif %}

    {% if data.releaseDate is defined %}
        <p class="lead text-muted">{{ data.releaseDate }}</p>
    {% endif %}

    {% if data.episodesNumber is defined %}
        <p class="lead text-muted">{{ data.episodesNumber }} Episodes</p>
    {% endif %}

    {% if data.ofTheYear is defined %}
        <p class="lead text-muted">Best of {{ data.ofTheYear }}</p>
    {% endif %}

    {% if data.pagination is defined and data.pagination > 0 %}
        <p class="lead text-muted">{{ data.pagination }} Pages</p>
    {% endif %}

    {% if data.price is defined and data.price > 0 %}
        <p class="lead text-muted">{{ data.price }}€</p>
    {% endif %}

    {% if data.suggestion is defined %}
        <p class="lead text-muted">
            Suggestion: <a href="/games/{{ data.suggestion.id }}">{{ data.suggestion.name }}</a>
        </p>
    {% endif %}

    {% if data.slug is defined and 'games' == current_page_name and data.id <= 588 %}
        {% set games_link = games_website ~ data.slug %}
        <p class="lead text-muted">
            <a href="{{ games_link }}" target="_blank">{{ games_link[:20] }}...</a>
        </p>
    {% endif %}

    {% if data.igdbUrl is defined %}
        <p class="lead text-muted">
            <a href="{{ data.igdbUrl }}" target="_blank">{{ data.igdbUrl[:20] }}...</a>
        </p>
    {% endif %}

    {% if data.links is defined %}
        {% for link in data.links %}
            <p class="lead text-muted">
                <a href="{{ link.url }}" target="_blank" title="{{ link.url }}">{{ link.url[:20] }}...</a>
            </p>
        {% endfor %}
    {% endif %}

    {% if data.albums is defined %}
        {% for album in data.albums %}
            <p class="lead text-muted">
                <a href="{{ album.productUrl }}" target="_blank" title="{{ album.productUrl }}">{{ album.title }}</a>
            </p>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block body %}
    {% if data.championships is defined and data.championships %}
        <h2>{{ data.championships|length }} Championships in Tony's Universe</h2>
        <div class="accordion accordion-flush" id="accordionChampionships">
            {% for championship in data.championships %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{ championship.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ championship.id }}" aria-expanded="false" aria-controls="flush-collapse{{ championship.id }}">
                            {{ championship.title }}
                        </button>
                    </h2>
                    <div id="flush-collapse{{ championship.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ championship.id }}" data-bs-parent="#accordionChampionships">
                        <div class="accordion-body">
                            <p class="card-text">
                                <a href="{{ championship.link.url }}" target="_blank">{{ championship.link.url }}</a>
                            </p>

                            {% set championship_games_link = games_website ~ championship.game.slug %}
                            <p class="card-text">
                                <a href="{{ championship_games_link }}" target="_blank">{{ championship.game.name }} {{ championship.type.slug|upper }}</a>
                                {% if championship.mode is defined %}
                                    <br>{{ championship.mode }}
                                {% endif %}
                            </p>

                            {% if championship.file is defined %}
                                {% if championship.file.sourceUrl is defined %}
                                    <p class="card-text">
                                        <a href="{{ championship.file.sourceUrl }}" target="_blank">{{ championship.file.filename }}</a>
                                    </p>
                                {% endif %}
                                {% if championship.file.source is defined and championship.file.source == '/api/sources/4' %}
                                    <p class="card-text">
                                        <a href="https://s3.eu-west-3.amazonaws.com/games.anthony-dessalles.com/{{ championship.file.path }}/{{ championship.file.filename }}" target="_blank">{{ championship.file.filename }}</a>
                                    </p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
    {% endif %}
    {% if data.compatibilities is defined and data.compatibilities %}
        <h2>{{ data.compatibilities|length }} Compatibilities</h2>
        <div class="accordion accordion-flush" id="accordionCompatibilities">
            {% for compatibility in data.compatibilities %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{ compatibility.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ compatibility.id }}" aria-expanded="false" aria-controls="flush-collapse{{ compatibility.id }}">
                            {{ compatibility.type.slug|upper }} {{ compatibility.status }}
                        </button>
                    </h2>
                    <div id="flush-collapse{{ compatibility.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ compatibility.id }}" data-bs-parent="#accordionCompatibilities">
                        <div class="accordion-body">
                            <p class="card-text">{{ compatibility.device.title }}</p>
                            <p class="card-text">{{ compatibility.storage }}</p>
                            <p class="card-text">{{ compatibility.updatedAt|slice(0, 10) }}</p>

                            {% if compatibility.software is defined %}
                                <p class="card-text">{{ compatibility.software }}</p>
                            {% endif %}

                            {% if compatibility.files is defined %}
                                {% for file in compatibility.files %}
                                    <p class="card-text">
                                        {% if file.sourceUrl is defined %}
                                            <a href="{{ file.sourceUrl }}" target="_blank">{{ file.filename }}</a>
                                        {% else %}
                                            {{ file.filename }}
                                        {% endif %}
                                    </p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
    {% endif %}
    {% if data.files is defined and data.files %}
        <h2>{{ data.files|length }} Files</h2>
        <div class="accordion accordion-flush" id="accordionFiles">
            {% for file in data.files %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{ file.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ file.id }}" aria-expanded="false" aria-controls="flush-collapse{{ file.id }}">
                            {{ file.filename }}
                        </button>
                    </h2>
                    <div id="flush-collapse{{ file.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ file.id }}" data-bs-parent="#accordionFiles">
                        <div class="accordion-body">
                            {% if file.sourceUrl is defined %}
                                <p class="card-text">
                                    <a href="{{ file.sourceUrl }}" target="_blank">{{ file.sourceUrl }}</a>
                                </p>
                            {% endif %}

                            {% if file.path %}
                                <p class="card-text">{{ file.path }}</p>
                            {% endif %}

                            {% if file.width is defined and file.height %}
                                <p class="card-text">{{ file.width }}x{{ file.height }}</p>
                            {% endif %}

                            {% if file.duration is defined %}
                                <p class="card-text">{{ file.duration }}m</p>
                            {% endif %}

                            {% if file.size is defined %}
                                <p class="card-text">{{ file.size }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
    {% endif %}
    {% if data.progressions is defined and data.progressions %}
        <h2>{{ data.progressions|length }} Progressions</h2>
        <div class="accordion accordion-flush" id="accordionProgressions">
            {% for progression in data.progressions %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{ progression.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ progression.id }}" aria-expanded="false" aria-controls="flush-collapse{{ progression.id }}">
                            {{ progression.name }}
                        </button>
                    </h2>
                    <div id="flush-collapse{{ progression.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ progression.id }}" data-bs-parent="#accordionProgressions">
                        <div class="accordion-body">
                            {% if progression.type %}
                                <p class="card-text">{{ progression.type.slug|upper }}</p>
                            {% endif %}

                            {% if progression.difficulty is defined %}
                                <p class="card-text">{{ progression.difficulty }}</p>
                            {% endif %}

                            {% if progression.description is defined %}
                                <p class="card-text">{{ progression.description }}</p>
                            {% endif %}

                            {% if progression.file is defined %}
                                <p class="card-text">
                                    {{ progression.file.filename }}
                                </p>
                            {% endif %}

                            {% for video in progression.videos %}
                                {% if video.sourceUrl is defined %}
                                    <p class="card-text">
                                        <a href="{{ video.sourceUrl }}" target="_blank" title="{{ video.sourceUrl }}">
                                            {% if video.position is defined %}[{{ video.position }}] {% endif %}{{ video.filename }}
                                        </a>
                                    </p>
                                {% endif %}
                            {% endfor %}

                            {% for user in progression.users %}
                                {% if user.name is defined and user.surname is defined %}
                                    <p class="card-text">
                                        {{ user.name }} {{ user.surname }}
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
    {% endif %}
    {% if data.scores is defined and data.scores %}
        <h2>{{ data.scores|length }} Scores</h2>
        <div class="accordion accordion-flush" id="accordionScores">
            {% for score in data.scores %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{ score.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ score.id }}" aria-expanded="false" aria-controls="flush-collapse{{ score.id }}">
                            {{ score.home }} vs {{ score.away }}
                        </button>
                    </h2>
                    <div id="flush-collapse{{ score.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ score.id }}" data-bs-parent="#accordionScores">
                        <div class="accordion-body">
                            {% if score.game is defined and score.type is defined %}
                                <p class="card-text">{{ score.game.name }} {{ score.type.slug|upper }}</p>
                            {% endif %}

                            {% if score.description is defined %}
                                <p class="card-text">{{ score.description }}</p>
                            {% endif %}

                            {% if score.difficulty is defined %}
                                <p class="card-text">{{ score.difficulty }}</p>
                            {% endif %}

                            {% for file in score.files %}
                                {% if file.sourceUrl is defined %}
                                    <p class="card-text">
                                        <a href="{{ file.sourceUrl }}" target="_blank" title="{{ file.sourceUrl }}">{{ file.filename }}</a>
                                    </p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
    {% endif %}
    {% if data.recordings is defined and data.recordings %}
        <h2>{{ data.recordings|length }} Recordings</h2>
        <div class="accordion accordion-flush" id="accordionRecordings">
            {% for recording in data.recordings %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{ recording.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ recording.id }}" aria-expanded="false" aria-controls="flush-collapse{{ recording.id }}">
                            {{ recording.name }}
                        </button>
                    </h2>
                    <div id="flush-collapse{{ recording.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ recording.id }}" data-bs-parent="#accordionRecordings">
                        <div class="accordion-body" id={{ recording.id }}>
                            {% if recording.sourceUrl is defined %}
                                <p class="card-text">
                                    <a href="{{ recording.sourceUrl }}" target="_blank" title="{{ recording.sourceUrl }}">{{ recording.sourceUrl }}</a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
    {% endif %}
    {% if data.screenshots is defined and data.screenshots %}
        <h2>{{ data.screenshots|length }} Screenshots</h2>
        <div class="accordion accordion-flush" id="accordionScreenshots">
            {% for screenshot in data.screenshots %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{ screenshot.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ screenshot.id }}" aria-expanded="false" aria-controls="flush-collapse{{ screenshot.id }}">
                            {{ screenshot.title }}
                        </button>
                    </h2>
                    <div id="flush-collapse{{ screenshot.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ screenshot.id }}" data-bs-parent="#accordionScreenshots">
                        <div class="accordion-body" id={{ screenshot.id }}>
                            {% if screenshot.productUrl is defined %}
                                <p class="card-text">
                                    <a href="{{ screenshot.productUrl }}" target="_blank" title="{{ screenshot.productUrl }}">{{ screenshot.productUrl }}</a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
    {% endif %}
    {% if data.playlists is defined and data.playlists %}
        <h2>{{ data.playlists|length }} Playlists</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 g-3">
            {% for playlist in data.playlists %}
                <div class="col">
                    <div class="card shadow-sm">
                        {% if playlist.embedHtml is defined %}
                            {{ playlist.embedHtml|replace({
                                'width="640"': 'width="100%"',
                                'height="360"': 'height="auto"',
                                'http://': 'https://'
                            })|raw }}
                        {% endif %}
                        
                        <div class="card-body">
                            <p class="card-text">
                                {% if playlist.productUrl is defined %}
                                    <a href="{{ playlist.productUrl }}" target="_blank" title="{{ playlist.productUrl }}" class="no_decoration">{{ playlist.title }}</a>
                                {% else %}
                                    <a href="https://www.youtube.com/playlist?list={{ playlist.externalId }}" title="{{ playlist.title }}" target="_blank" class="no_decoration">
                                        {{ playlist.title }}
                                    </a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
    {% endif %}
    {% if data.films is defined and data.films %}
        <h2>{{ data.films|length }} Films</h2>
        {% include 'cards.html.twig' with {
            'data': data.films,
            'current_page_name': 'films',
        } %}
        <br>
    {% endif %}
    {% if data.sports is defined and data.sports %}
        <h2>{{ data.sports|length }} Sports</h2>
        {% include 'cards.html.twig' with {
            'data': data.sports,
            'current_page_name': 'sports',
        } %}
        <br>
    {% endif %}
    {% if data.types is defined and data.types %}
        <h2>{{ data.types|length }} Types</h2>
        {% include 'cards.html.twig' with {
            'data': data.types,
            'current_page_name': 'types',
        } %}
        <br>
    {% endif %}
    {% if books is defined %}
        <h2>{{ books|length }} Books</h2>
        {% include 'cards.html.twig' with {
            'data': books,
            'current_page_name': 'books',
        } %}
        <br>
    {% endif %}
    {% if films is defined %}
        <h2>{{ films|length }} Films</h2>
        {% include 'cards.html.twig' with {
            'data': films,
            'current_page_name': 'films',
        } %}
        <br>
    {% endif %}
    {% if games is defined %}
        <h2>{{ games|length }} Games</h2>
        {% include 'cards.html.twig' with {
            'data': games,
            'current_page_name': 'games',
        } %}
        <br>
    {% endif %}
    {% if music is defined %}
        <h2>{{ music|length }} Music</h2>
        {% include 'cards.html.twig' with {
            'data': music,
            'current_page_name': 'music',
        } %}
        <br>
    {% endif %}
    {% if profiles is defined %}
        <h2>{{ profiles|length }} Profiles</h2>
        {% include 'cards.html.twig' with {
            'data': profiles,
            'current_page_name': 'profiles',
        } %}
        <br>
    {% endif %}
    {% if series is defined %}
        <h2>{{ series|length }} Series</h2>
        {% include 'cards.html.twig' with {
            'data': series,
            'current_page_name': 'series',
        } %}
        <br>
    {% endif %}
    {% if sports is defined %}
        <h2>{{ sports|length }} Sports</h2>
        {% include 'cards.html.twig' with {
            'data': sports,
            'current_page_name': 'sports',
        } %}
        <br>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        var current_page_name = '{{ current_page_name }}';
        const myElement = document.getElementById("nav-" + current_page_name);
        myElement.classList.add("active");
    </script>
{% endblock %}