{% extends 'base.html.twig' %}

{% block title %}Recordings{% endblock %}
{% block subtitle %}{{ data|length }}{% endblock %}

{% block body %}
    {% if data is defined %}
        <div class="accordion accordion-flush" id="accordionFlushExample">
            {% for recording in data %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-heading{{ recording.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ recording.id }}" aria-expanded="false" aria-controls="flush-collapse{{ recording.id }}">
                            {{ recording.name }}
                        </button>
                    </h2>
                    <div id="flush-collapse{{ recording.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ recording.id }}" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body" id={{ recording.id }}>
                            {% if recording.sourceUrl is defined %}
                                <p class="card-text">
                                    <a href="{{ recording.sourceUrl }}" target="_blank" title="{{ recording.sourceUrl }}">{{ recording.sourceUrl }}</a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}


{% block javascripts %}
    <script>
        var current_page_name = '{{ current_page_name }}';
        const myElement = document.getElementById("nav-" + current_page_name);
        myElement.classList.add("active");
    </script>
{% endblock %}