{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {% if books is defined %}
        <h2>{{ books|length }} Books</h2>
        {% include 'cards.html.twig' with {
            'data': books,
            'current_page_name': 'books',
        } %}
        <br>
    {% endif %}
    {% if films is defined %}
        <h2>{{ films|length }} Films</h2>
        {% include 'cards.html.twig' with {
            'data': films,
            'current_page_name': 'films',
        } %}
        <br>
    {% endif %}
    {% if games is defined %}
        <h2>{{ games|length }} Games</h2>
        {% include 'cards.html.twig' with {
            'data': games,
            'current_page_name': 'games',
        } %}
        <br>
    {% endif %}
    {% if music is defined %}
        <h2>{{ music|length }} Music</h2>
        {% include 'cards.html.twig' with {
            'data': music,
            'current_page_name': 'music',
        } %}
        <br>
    {% endif %}
    {% if profiles is defined %}
        <h2>{{ profiles|length }} Profiles</h2>
        {% include 'cards.html.twig' with {
            'data': profiles,
            'current_page_name': 'profiles',
        } %}
        <br>
    {% endif %}
    {% if series is defined %}
        <h2>{{ series|length }} Series</h2>
        {% include 'cards.html.twig' with {
            'data': series,
            'current_page_name': 'series',
        } %}
        <br>
    {% endif %}
    {% if sports is defined %}
        <h2>{{ sports|length }} Sports</h2>
        {% include 'cards.html.twig' with {
            'data': sports,
            'current_page_name': 'sports',
        } %}
        <br>
    {% endif %}
    {% if types is defined %}
        <h2>{{ types|length }} Types</h2>
        {% include 'cards.html.twig' with {
            'data': types,
            'current_page_name': 'types',
        } %}
        <br>
    {% endif %}
{% endblock %}