{% extends 'base.html.twig' %}

{% block title %}Yearly{% endblock %}

{% block body %}
    <div class="accordion accordion-flush" id="accordionYears">
        {% for year,contents in years %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading{{ year }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ year }}" aria-expanded="false" aria-controls="flush-collapse{{ year }}">
                        {{ year }}
                    </button>
                </h2>
                <div id="flush-collapse{{ year }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ year }}" data-bs-parent="#accordionYears">
                    <div class="accordion-body" id={{ year }}>
                        {% for content in contents %}
                            <p class="card-text">
                                {% set page_link = path(content.type ~ '_page', {'id': content.id}) %}
                                <a href="{{ page_link }}" title="{{ content.name }}">{{ content.name }}</a>
                            </p>
                        {% endfor %}
                        <br>
                        <p class="card-text">
                            <a href="{{ path('yearly_year', {'year': year}) }}" title="{{ year }}">Universes</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        const myElement = document.getElementById("nav-yearly");
        myElement.classList.add("active");
    </script>
{% endblock %}